<center>
	<div class = "display_confirmation">
		<p>Thank You for shopping with us!</p>
		Your order number is: <%= @order.id  %>
		<%= link_to 'Give Shipping Address', edit_order_path(@order) %>
	</div>
</center>
